.direction-way
	&_europe
		background url(__static__content/europe/europe.png) no-repeat top left
		background-size cover
	&_asia
		background url(__static__content/azian/asia.png) no-repeat top left
		background-size cover
	&_russia
		background url(__static__content/russian/russia.png) no-repeat top left
		background-size cover
	&_america
		background url(__static__content/america/america.png) no-repeat top left
		background-size cover
	xxs(min-height, 100vh)
	&__inner
		padding-top 140px
		xxs-block({
		  padding-top: 90px
		})
	&__title
		max-width 655px
		margin-bottom 60px
	&__list 
		max-width 400px
		padding-bottom 70px
		xxs(display, none)
	&__item
		position relative
		min-height 42px
		padding-left 60px
		margin-bottom 30px
		color $c_white
		font-size 14px
		line-height 21px
		font-weight 300
		background-repeat no-repeat
		background-size 28px 28px
		&:first-child
			background-image url(__static__minified-svg/small-icon-1.svg)
		&:nth-child(2)
			background-image url(__static__minified-svg/small-icon-2.svg)
		&:nth-child(3)
			background-image url(__static__minified-svg/small-icon-3.svg)
		&:last-child
			background-image url(__static__minified-svg/small-icon-4.svg)
.logistic-services
	// margin-top 90px
	background-image url(__static__content/services/bg-2.png)
