.european-direction
	background-image url(__static__general/bg_european_direction.png)
	background-position top left
	background-size cover
	&__title.heading
		min-width 655px
		margin-top 140px
		margin-bottom 60px
	&__list 
		width 400px
		padding-bottom 70px
	&__item
		position relative
		min-height 42px
		padding-left 60px
		margin-bottom 30px
		color $c_white
		font-size 14px
		line-height 21px
		font-weight 300
		&:before
			position absolute
			content ''
			width 30px
			height 30px
			top 3px
			left 0
			background-color $c_white
.logistic-services
	margin-top 90px
	background-image url(__static__content/services/bg-2.png)
