include ../../countries/countries
mixin main()
	+b.MAIN.page-content
		+e.inner
			+countries(countries.europe.western)
			+countries(countries.europe.eastern)
			+countries(countries.europe.northern)
			+countries(countries.europe.southern)
			+b.SECTION.logistic-services.viewport-width
				+e.inner.center
					+e.H2.title.heading._h1 комплекс логистических услуг
						br
						| для малого и крупного бизнеса
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse quod ipsa exercitationem consectetur praesentium dolor neque voluptates dignissimos libero ipsum ex itaque, aspernatur, nemo quos sed dolorum, laboriosam deserunt.
					+e.A.link.btn._large(href='#') Подробнее
