mixin additional-services(data)
	+b.additional-services
		+e.inner
			+e.A.item(href='custom-service.html')
				+svg('service-7',90,60)
				b Таможенные услуги
				p Показываем и консультируем в таможенном оформлении товаров и грузов.
			+e.A.item(href='warehouse-services.html')
				+svg('service-8',90,60)
				b Складские
					br
					|услуги
				p Мы предлагаем универсальные и специализированные склады.
			+e.A.item(href='oversized-cargo.html')
				+svg('service-9',90,60)
				b Негабаритные грузы
				p Прохождение предварительных согласований по перевозке негабаритных и тяжеловесных грузов. 
			+e.A.item(href='dangerous-cargo-transportation.html')
				+svg('service-10',90,60)
				b Перевозка опасных грузов 
				p Перевозим комплектные и сборные опасные грузы любого класса опасности.
			+e.A.item(href='additional-insurance.html')
				+svg('service-11',90,60)
				b Дополнительное страхование
				p Мы имеем действующий полис страхования ответственности экспедитора.
			+e.A.item(href='transportation-of-temperature-sensitive-cargos.html')
				+svg('service-12',90,60)
				b Перевозка температурых грузов
				p Для каждого груза предусмотрен свой температурный режим и правила.
