mixin additional-services(data)
	+b.additional-services
		+e.inner
			+e.A.item(href='custom-service.html')
				+svg('service-7',88,46)
				b Таможенные услуги
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='warehouse-services.html')
				+svg('service-8',88,46)
				b Складские
					br
					|услуги
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='oversized-cargo.html')
				+svg('service-9',88,46)
				b Негабаритные грузы
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='dangerous-cargo-transportation.html')
				+svg('service-10',88,46)
				b Перевозка опасных грузов 
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='additional-insurance.html')
				+svg('service-11',88,46)
				b Дополнительное страхование
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='transportation-of-temperature-sensitive-cargos.html')
				+svg('service-12',88,46)
				b Перевозка температурых грузов
				p Most designers set their type arbitrarily, either by pulling values out 
