mixin additional-services(data)
	+b.additional-services
		+e.inner
			+e.A.item(href='#')
				+svg('services-1',88,46)
				b Таможенные услуги
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-2',88,46)
				b Складские
					br
					|услуги
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-3',88,46)
				b Негабаритные грузы
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-4',88,46)
				b Перевозка опасных грузов 
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-5',88,46)
				b Дополнительное страхование
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-6',88,46)
				b Перевозка температурых грузов
				p Most designers set their type arbitrarily, either by pulling values out 
