include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../solutions/solutions
include ../../additional-services/additional-services
include ../../video/video
mixin main()
	+b.MAIN.page-content
		+video({
			bgPath: '__static__general/bg_main.png',
			videoPath: '__static__/img/general/video/scladskie_uslugi.mp4'
		})
		+e.inner
			+full-viewport-width(services.warehouse)
			p.text.center В логистике склад выполняет функцию аккумулирования резервов материальных ресурсов, необходимых для демпфирования колебаний объёмов поставок и спроса, а также синхронизации скоростей потоков товаров в системах продвижения от изготовителей к потребителям или потоков материалов в технологических производственных системах.
			p.text.center Наша компания предлагает клиентам виды складских услуг: услуги по хранению на акцизных, таможенных, температурных (от -25°C до +20°C ) складах, временное и долгосрочное хранение грузов, консолидация и расконсолидация партий грузов от нескольких отправителей в состав сборного груза, грузообработка (погрузочно-разгрузочные работы, переупаковка, нанесение необходимых маркировок, взвешивание), подготовка необходимых экспортных и транзитных документов.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/8/icon-1.svg", width='60' height='60')
							b Полный комплекс услуг
							p.text Выполнении погрузочно-разгрузочных работ, приёмка товаров — начальная операция, связанная с движением товара на складе и возникновением материальной ответственности, размещение на хранение (укладка товаров в стеллажи, штабели), отборка товаров из мест хранения (отбор товаров с мест хранения (комплектация), подготовку к отпуску: упаковка, окантовка, маркировка и т. п.), комплектование и упаковка товаров, внутрискладское перемещение грузов.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/8/icon-2.svg", width='60' height='60')
							b Склады и география
							p.text Мы предлагаем универсальные и специализированные склады. Благодаря нашим партнерам вы получите постоянный доступ к использованию складов: стран Европы, Азии, Америки и России.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+solutions(solutions)
			+b.SECTION.about-specialist._8
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Анна Гиркина
						b специализируется на складских услугах
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
