.promo
	background-image url(%=static=%general/bg_main.png)
	background-repeat no-repeat
	background-position 100% center
	background-size cover
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		padding-top 60px
		padding-bottom 60px
		min-height 100vh
	&__request-btn
		margin-top auto
		width 240px
		padding 12px 54px
		margin-bottom 85px
	&__info
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content: space-between;
	&__phone,
	&__mail
		display block
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
	&__right-col
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
		text-align right
		span
			opacity .5
