include ../video/video
mixin promo(data)
	+b.promo
		+video({
			bgPath: '__static__general/bg_main.png',
			videoPath: '__static__/img/general/video/main2.mp4'
		})
		+e.inner.center
			+e.BUTTON.request-btn.btn._large.waves-effect.waves-light#request-btn Запрос на
				br
				| перевозку груза
			+e.info
				+e.left-col
					p
						+svg('phone-white',15,15)
						+e.A.phone(href='tel:+375172183326') +375 (17) 218 33 26
					p
						+svg('mail-white',15,15)
						+e.A.mail(href='mailto:info@tvlogistic.by') info@tvlogistic.by
				+e.right-col
					span ООО «ТВ Логистик»
					p
						span
							+svg('marker-white',15,15)
						|Республика Беларусь, Минск ул. Фабрициуса, 8Б, корп.1, пом.2, каб.42
