.promo
	background-image url(%=static=%general/bg_main.png)
	background-repeat no-repeat
	background-position 100% center
	background-size cover
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		padding-top 60px
		padding-bottom 60px
		min-height 100vh
	&__request-btn
		margin-top auto
		width 240px
		padding 12px 54px
		margin-bottom 85px
		font-weight 500
		&.stick
			position fixed
			left calc(50% - 570px)
			bottom 90px
			font-size 0
			width 60px
			height 60px
			margin 0
			padding 0
			border-radius 50%
			background-image url(__static__minified-svg/size-white.svg)
			background-repeat no-repeat
			background-position center
			background-size 28px 28px
			box-shadow 0 3px 6px rgba(0, 0, 0, 0.19)
			z-index 1000
	&__info
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content: space-between;
	&__phone,
	&__mail
		margin-bottom 15px
		padding-left 30px
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
	&__right-col
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
		text-align right
		span
			opacity .5
			&:last-of-type
				opacity 1
				padding-right 30px
		p
			margin-top 15px
	&__left-col
		p
			margin-bottom 15px
