include ../video/video
mixin promo(data)
	+b.promo
		+video({
			bgPath: '__static__/img/general/bg_main.png',
			videoPath: '__static__/img/general/video/multimodal.mp4'
		})
		+e.inner.center
			+e.mobil-text
				h2 
					| ТВ Логистик
				p
					| Мы специализируемся на международных грузоперевозках комплектных и сборных грузов автомобильным, железнодорожным, авиа, морским транспортом по направлениям: Европа, Россия, Азия, Америка. Компания является постоянным и надёжным партнёром многих крупных белорусских предприятий в предоставлении транспортно-экспедиционных и логистических услуг.
			+e.BUTTON.request-btn.btn._large.waves-effect.waves-light Запрос на
				br
				| перевозку груза
			+e.info
				+e.left-col
					p
						+svg('phone-white',15,15)
						+e.A.phone(href='tel:+375173000025') +375 (17) 300-00-25
					p
						+svg('mail-white',15,15)
						+e.A.mail(href='mailto:info@tvlogistic.ru') info@tvlogistic.ru
				+e.right-col
					span ООО «ТВ Логистик»
					p
						span
							+svg('marker-white',15,15)
						|Республика Беларусь, 220112, Минск, ул. Янки Лучины, д. 7, пом.44

