.promo
	// background-image url(%=static=%general/bg_main.png)
	// background-repeat no-repeat
	// background-position 100% center
	// background-size cover
	background: url(__static__minified-svg/pixel.svg) repeat
	xxs-block(@block{
		background: url(__static__general/mobile-bg/multimodal-transportation_mob_bg.png)
		background-position center center
		background-size cover
	})
	&__inner
		display flex
		flex-direction column
		padding-top 60px
		padding-bottom 60px
		min-height 100vh
	&__request-btn
		margin-top auto
		margin-bottom 85px
		padding 12px 0
		font-weight 500
		visibility hidden
	&__info
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content: space-between;
		margin-top auto
		xxs(display, none)
	&__phone,
	&__mail
		margin-bottom 15px
		padding-left 30px
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
	&__right-col
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
		text-align right
		span
			&:last-child
				// opacity 1
				padding-right 30px
		p
			margin-top 15px
	&__left-col
		p
			margin-bottom 15px
	&__mobil-text
		display none
		color $c_white
		xxs(display, block)
		h2
			margin-top 60px
			margin-bottom 30px
			font-family $font
			font-weight 300
		p 
			font-size 14px
			line-height 1.5
			font-weight 300
			
