mixin promo(data)
	+b.promo
		video#bgvid(poster='%=static=%general/bg_main.png', playsinline, autoplay, muted, loop)
			//- source(src='__static__img/general/video/main_webm.webm', type='video/webm')
			source(src='__static__img/general/video/main2.mp4', type='video/mp4')
		+e.inner.center
			+e.BUTTON.request-btn.btn.waves-effect.waves-light#request-btn Запрос на перевозку груза
			+e.info
				+e.left-col
					p
						+svg('phone-white',15,15)
						+e.A.phone(href='tel:+375172183326') +375 (17) 218 33 26
					p
						+svg('mail-white',15,15)
						+e.A.mail(href='mailto:info@tvlogistic.by') info@tvlogistic.by
				+e.right-col
					span ООО «ТВ Логистик»
					p
						span
							+svg('marker-white',15,15)
						|Республика Беларусь, Минск ул. Фабрициуса, 8Б, корп.1, пом.2, каб.42
