mixin promo(data)
	+b.promo
		+e.inner.center
			+e.BUTTON.request-btn.btn#request-btn Запрос на перевозку груза
			+e.info
				+e.left-col
					p
						+svg('phone-white',15,15)
						+e.A.phone(href='tel:+375172183326') +375 (17) 218 33 26
					p
						+svg('mail-white',15,15)
						+e.A.mail(href='mailto:info@tvlogistic.by') info@tvlogistic.by
				+e.right-col
					span ООО «ТВ Логистик»
					p
						span
							+svg('marker-white',15,15)
						|Республика Беларусь, Минск ул. Фабрициуса, 8Б, корп.1, пом.2, каб.42
