extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/dangerous-cargo-transportation/main
include ../components/footer/footer

block head
	- var pageTitle = 'Перевозка опасных грузов - ТВ Логистик | Перевозка опасных грузов';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
