extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/european-direction/main
include ../components/footer/footer

block head
	- var pageTitle = 'Направление Европа - ТВ Логистик | Направление Европа';
	- var pageDescription = '';
	- var pageKeywords = '';
block content
	+header
	+main
	+footer
