extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/modular-cargo/main
include ../components/footer/footer

block head
	- var pageTitle = '';
	- var pageTitle = 'ТВ Логистик | Сборные грузы';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
