extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/multimodal-transportation/main
include ../components/footer/footer

block head
	- var pageTitle = 'Мультимодальные грузоперевозки - ТВ Логистик | Мультимодальные грузоперевозки';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
