extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/online-services/main
include ../components/footer/footer

block head
	- var pageTitle = 'Онлайн сервисы - ТВ Логистик | Онлайн сервисы';
	- var pageDescription = '';
	- var pageKeywords = '';
block content
	+header
	+main
	+footer
