extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/sea-transportation/main
include ../components/footer/footer

block head
	- var pageTitle = 'Морские грузоперевозки - ТВ Логистик | Морские грузоперевозки';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
