extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/transportation-of-temperature-sensitive-cargos/main
include ../components/footer/footer

block head
	- var pageTitle = 'ТВ Логистик | Перевозка температурных грузов';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
