extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/truck-transportation/main
include ../components/footer/footer

block head
	- var pageTitle = 'ТВ Логистик | Автомобильные грузоперевозки';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
