extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/warehouse-services/main
include ../components/footer/footer

block head
	- var pageTitle = 'ТВ Логистик | Складские услуги';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
