/* Your custom fonts here */
@font-face {
    font-family: 'Ubuntu';
			src: url('../fonts/Ubuntu-Medium.woff2') format('woff'),
					url('../fonts/Ubuntu-Medium.woff') format('woff2');
    font-weight: 500;
    font-style: normal;
    }
@font-face {
    font-family: 'Ubuntu';
			src: url('../fonts/Ubuntu-Light.woff2') format('woff'),
					url('../fonts/Ubuntu-Light.woff') format('woff2');
    font-weight: 300;
    font-style: normal;
    }
// Var for using custom font
$font = Ubuntu, Helvetica, Arial, sans-serif;
