// File for vars.
// For example: main colors, paddings and so on.
$c_white = #fff
$c_black = #000
$c_blue = #1e88e5
$c_dark-blue = #0d47a1
$c_light-blue = #e3f2fd
$c_medium-blue = #79cffb
$c_text = #455a64
$c_h2-text = #263238
$page-width = 1170px
