// File for vars.
// For example: main colors, paddings and so on.
$c_white = #fff
$c_black = #000
$c_blue = #1e88e5
$c_about-s-blue = #3f51b5
$c_dark-blue = #0d47a1
$c_light-blue = #e3f2fd
$c_medium-blue = #79cffb
$c_text = #455a64
$c_h2-text = #263238
$c_text-light-blue = #b0bec5
$c_text-medium-blue = #607d8b
$page-width = 1170px
