.countries
	&__list
		row-flex()
		position relative
		max-width 850px
	&__item
		col()
		flex-basis 165px
		outline 1px solid
		text-align center
		&:last-child
			position absolute
			right -290px
			max-width 290px
		img
			display block
			margin 0 auto
