include ../../promo/promo
include ../../services/services
include ../../solutions/solutions
include ../../about-us/about-us
include ../../clients/clients
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+services
			+solutions(solutions)
			+about-us
			+clients
