include ../../promo/promo
include ../../services/services
include ../../solutions/solutions
include ../../about-us/about-us
include ../../clients/clients
include ../../request-form/request-form
include ../../reviews/reviews
include ../../map/map
include ../../map-large/map-large
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			//- +services
			+map-large
			//- +solutions(solutions)
			//- +about-us
			//- +clients
			//- +reviews
			//- +map({modifier: 'right'})
			+request-form
