include ../../promo/promo
include ../../services/services
include ../../solutions/solutions
include ../../about-us/about-us
include ../../clients/clients
include ../../request-form/request-form
include ../../reviews/reviews
include ../../map/map
mixin main()
	+b.MAIN.page-content
		+e.inner
			+request-form
			+promo
			+services
			+solutions(solutions)
			+about-us
			+clients
			+reviews
			+map
