mixin vacancies(data)
	+b.vacancies
		+e.inner.center
			+e.H2.title Наши вакансии
			+e.P.text На сегодняшний день компания «ТВ Логистик» является динамично развивающейся компанией по оказанию логистичеких услуг на территории Республики Беларусь и за ее пределами. В связи с этим, мы стремимся постоянно расширять как номенклатуру оказываемых услуг по перевозке различных типов грузов, так и географию их оказания.
			+e.list
				+e.A.item.style(href='#')
					h3 Экспедитор по морским грузоперевозкам
					.hidden
						p Требования:
						ul
							li наличие высшего образования;
							li опыт в сфере транспорта и логистики по морским грузоперевозкам- не менее 1 года;
							li знание английского языка не ниже intermediate;
							li уверенный ПК-пользователь;
							li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде.
						p Мы предлагаем:
						ul
							li Работа в современной компании;
							li Молодой дружный коллектив;
							li Официальное трудоустройство;
							li Наличие социального пакета, корпоративное обучение.
				+e.A.item.style(href='#')
					h3 Экспедитор по автомобильном грузоперевозкам
					.hidden
						p Требования:
						ul
							li наличие высшего образования;
							li опыт в сфере транспорта и логистики по автомобильным грузоперевозкам - не менее 1 года;
							li знание английского языка не ниже intermediate;
							li уверенный ПК-пользователь;
							li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде.
						p Мы предлагаем:
						ul
							li Работа в современной компании;
							li Молодой дружный коллектив;
							li Официальное трудоустройство;
							li Наличие социального пакета, корпоративное обучение.
				+e.A.item.style(href='#')
					h3 Экспедитор по авиа грузоперевозкам
					.hidden
						p Требования:
						ul
							li наличие высшего образования;
							li опыт в сфере транспорта и логистики по авиа грузоперевозкам - не менее 1 года;
							li знание английского языка не ниже intermediate;
							li уверенный ПК-пользователь;
							li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде.
						p Мы предлагаем:
						ul
							li Работа в современной компании;
							li Молодой дружный коллектив;
							li Официальное трудоустройство;
							li Наличие социального пакета, корпоративное обучение.
				+e.A.item.style(href='#')
					h3 Юрист в транспортно-логистической сфере
					.hidden
						p Требования:
						ul
							li наличие высшего образования (студент 3-5 курсов);
							li уверенный ПК-пользователь;
							li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде.
						p Мы предлагаем:
						ul
							li Работа в современной компании;
							li Молодой дружный коллектив;
							li Официальное трудоустройство;
							li Наличие социального пакета, корпоративное обучение.
				+e.A.item.style(href='#')
					h3 Зам-начальника отдела автотранспортных грузоперевозок
					.hidden
						p Требования:
						ul
							li наличие высшего образования;
							li опыт в сфере транспорта и логистики по автотранспортным грузоперевозкам - не менее 3 лет;
							li знание английского языка не ниже intermediate;
							li уверенный ПК-пользователь;
							li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде.
						p Мы предлагаем:
						ul
							li Работа в современной компании;
							li Молодой дружный коллектив;
							li Официальное трудоустройство;
							li Наличие социального пакета, корпоративное обучение.
				+e.A.item.style(href='#')
					h3 Начальник отдела авиа грузоперевозок
					.hidden
						p Требования:
						ul
							li наличие высшего образования;
							li опыт в сфере транспорта и логистики по авиа грузоперевозкам - не менее 3 лет;
							li знание английского языка не ниже intermediate;
							li уверенный ПК-пользователь;
							li наличие таких личностных качеств как, порядочность, стрессоустойчивость, коммуникабельность, умение работать в команде.
						p Мы предлагаем:
						ul
							li Работа в современной компании;
							li Молодой дружный коллектив;
							li Официальное трудоустройство;
							li Наличие социального пакета, корпоративное обучение.
			+e.list
				+e.advantages-item
					+svg('vacanci-icon1',90,90)
					span Нас любят клиенты
					p Постоянно работаем над улучшением клиентского сервиса
				+e.advantages-item
					+svg('vacanci-icon2',90,90)
					span Карьерный рост
					p У нас нет огромного штата, поэтому каждый сотрудник может проявить себя
				+e.advantages-item
					+svg('vacanci-icon3',90,90)
					span Профессионализм
					p Сложные и интересные задачи помогут вам стать лучшим в своем деле.
		+e.modal-info#modal-info.hide
			.wrapper
			a(href='#').vacancies-btn.btn.btn_blue.btn_large#btnPosition Откликнуться
			
		+e.modal.hide#modalPosition
			form(action="/echo" method="post")
				+e.col-left
					label
						+svg('name',20,20)
						input(placeholder="Ваше имя")
					label
						+svg('phone',20,20)
						input(placeholder="Телефон")
					label
						+svg('mail',20,20)
						input(placeholder="Электронная почта")
					label
						input(placeholder="Ссылка на резюме")
				+e.col-right
					label
						+svg('mail',20,20)
						textarea(placeholder="О себе")
				span Данные не передаются третьим лицам
					+svg('protect',20,27)
				+e.BUTTON.send-btn.btn(type="submit") Отправить
