.vacancies
	background-image url(%=static=%general/vacancies/bg_vacancies.png)
	background-repeat no-repeat
	background-size 100%
	xxs-block(@block{
		background-image url(%=static=%general/vacancies/bg_vacancies_mob.png)
	})
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		padding-top 60px
	&__title
		margin-top 140px
		xxs(margin-top, 50px)
		margin-bottom 30px
		color $c_white
		font-size 24px
		font-weight 500
		line-height 24px
		text-transform uppercase
		&_modal
			color $c_text
			margin-top 0
	&__text 
		max-width 516px
		margin-bottom 90px
		xxs(margin-bottom, 60px)
		color $c_white
		font-size 14px
		font-weight 300
		line-height 24px
	&__list
		row-flex()
		justify-content: space-between;
		xxs-block(@block{
			position relative
			justify-content center
		})
	&__item
		col()
		size(4)
		size-xxs(12)
		display flex
		align-items: center;
		flex-basis 340px
		min-height 240px
		padding 60px 30px
		text-align center
		justify-content center
		margin-bottom 90px
		xxs-block({
			min-height: 180px
			padding: 30px
			margin-bottom: 30px
			flex-basis: 100%
		})
		.hidden
			display none
		h3
			color: #2196f3;
			font-size: 24px;
			font-weight: 300;
			line-height: 36px;
	&__advantages-item
		col()
		size(4)
		size-xxs(12)
		display flex
		flex-direction column
		align-items: center;
		flex-basis 340px
		text-align center
		xxs(margin-top, 45px)
		svg
			margin-bottom 60px
			xxs(margin-bottom, 15px)
		span 
			margin-bottom 30px
			xxs(margin-bottom, 15px)
			color: #2196f3;
			font-size: 24px;
			font-weight: 300;
			line-height: 36px;
		p 
			width 180px
			font-size 14px
			font-weight 300
			line-height 21px
			color $c_text
			xxs(width, 270px)
	&__modal
		position fixed
		width 810px
		padding 30px
		top 10%
		left 50%
		transform translateX(-50%)
		background-color $c_white
		border-radius 5px
		z-index 1002
		xxs-block({
			width: 90%
			padding: 10px
		})
		form
			display flex
			flex-wrap wrap
			color $c_text
			font-size 14px
			line-height 24px
			font-weight 300
		label
			position relative
			width 100%
		::-webkit-input-placeholder
			color $c_text
			opacity .5
		::-moz-placeholder
			color $c_text
			opacity .5
		:-moz-placeholder
			color $c_text
			opacity .5
		:-ms-input-placeholder
			color $c_text
			opacity .5
		input:focus, textarea:focus
			background-color: #e8eaf6
			transition all .2s ease
			&::-webkit-input-placeholder
				text-indent: 700px
				transition: text-indent 1s ease-in
			&::-moz-placeholder
				text-indent: 700px
				transition: text-indent 1s ease-in
			&:-moz-placeholder
				text-indent: 700px
				transition: text-indent 1s ease-in
			&:-ms-input-placeholder
				text-indent: 700px
				transition: text-indent 1s ease-in
		textarea:focus
			background-color: #e8eaf6
			transition all .2s ease
			&::-webkit-input-placeholder
				line-height: 300px
				transition: line-height 1s ease-in
			&::-moz-placeholder
				line-height: 300px
				transition: line-height 1s ease-in
			&:-moz-placeholder
				line-height: 300px
				transition: line-height 1s ease-in
			&:-ms-input-placeholder
				line-height: 300px
				transition: line-height 1s ease-in
		input, textarea
			width 100%
			margin-bottom 30px
			padding-top 13px
			padding-right 13px
			padding-left 55px
			padding-bottom 13px
			font-size 14px
			line-height 24px
			background-color #e8eaf6
			border none
			border-radius 5px
			resize none
			xxs(margin-bottom, 15px)
			&:hover
				background-color: #f3f4fa
				transition all .2s ease
		textarea
			min-height 210px
			overflow hidden
		svg
			position absolute
			top 14px
			left 14px
		span 
			position relative
			padding 18px 0
			padding-left 50px
			xxs(margin-top, -15px)
			svg
				top 17px
				left 0
		button
			width 240px
			margin-left auto
			padding 18px 0
			font-weight 700
			xxs(width, 100%)
	&__col-left
		width 360px
		display flex
		flex-wrap wrap
		xxs(width, 100%)
	&__col-right
		display flex
		width 360px
		margin-left 30px
		xxs-block({
			width: 100%
			margin-left: 0
		})
	&__modal-info
		position absolute
		top 10%
		left calc(50% - 375px)
		width 750px
		padding 60px 30px
		background-color $c_white
		z-index 1002
		border-radius 5px
		xxs-block(@block{
			width 90%
			left calc(50% - 45%)
			top calc(50% - 25%)
			padding 20px
		})
		a
			display block
			margin 0 auto
			line-height 60px
		h3
			margin-bottom 30px
			color $c_blue
			font-size 24px
			font-weight 300
			line-height 36px
		p
			margin-bottom 30px
			color $c_blue
			font-size 18px
			font-weight 300
			line-height 36px
			// color #2196f3
		li
			color $c_text
			font-size 14px
			font-weight 300
			line-height 21px
		ul
			margin-bottom 30px
			list-style-type disc
			list-style-position inside
