.contact-form
	color $c_text
	font-size 14px
	line-height 24px
	font-weight 300
	&__inner
		display flex
		flex-wrap wrap
		padding-left 210px
		padding-right 210px
		xxs-block({
			padding: 0 10px
		})
	&__title
		width 100%
		text-transform uppercase
	&__col-left
		width 360px
		display flex
		flex-wrap wrap
	&__col-right
		display flex
		width 360px
		margin-left 30px
		xxs(margin-left, 0)
	label
		position relative
		width 100%
	::-webkit-input-placeholder
		color $c_text
		opacity .5
	::-moz-placeholder
		color $c_text
		opacity .5
	:-moz-placeholder
		color $c_text
		opacity .5
	:-ms-input-placeholder
		color $c_text
		opacity .5
	input:focus, textarea:focus
		background-color: #e8eaf6
		transition all .2s ease
		&::-webkit-input-placeholder
			text-indent: 700px
			transition: text-indent 1s ease-in
		&::-moz-placeholder
			text-indent: 700px
			transition: text-indent 1s ease-in
		&:-moz-placeholder
			text-indent: 700px
			transition: text-indent 1s ease-in
		&:-ms-input-placeholder
			text-indent: 700px
			transition: text-indent 1s ease-in
	textarea:focus
		background-color: #e8eaf6
		transition all .2s ease
		&::-webkit-input-placeholder
			line-height: 300px
			transition: line-height 1s ease-in
		&::-moz-placeholder
			line-height: 300px
			transition: line-height 1s ease-in
		&:-moz-placeholder
			line-height: 300px
			transition: line-height 1s ease-in
		&:-ms-input-placeholder
			line-height: 300px
			transition: line-height 1s ease-in
	input, textarea
		width 100%
		margin-bottom 30px
		padding-top 13px
		padding-right 13px
		padding-left 55px
		padding-bottom 13px
		font-size 14px
		line-height 24px
		background-color #e8eaf6
		border none
		border-radius 5px
		resize none
		&:hover
			background-color: #f3f4fa
			transition all .2s ease
	textarea
		min-height 210px
		overflow hidden
	svg
		position absolute
		top 14px
		left 14px
	span 
		position relative
		padding 18px 0
		padding-left 50px
		xxs(order, 1)
		svg
			top 17px
			left 0
			xxs(left, 10px)
	button
		width 240px
		margin-left auto
		padding 18px 0
		font-weight 700
		xxs(margin, 0 auto)
