mixin contact-form(data)
	+b.FORM.contact-form(action="/echo" method="post")
		+e.inner.center
			+e.H2.title.heading_h2 Написать письмо
			label
				input(type="text" name="subject" placeholder="Тема письма")
			+e.col-left
				label
					+svg('name',20,20)
					input(type="text" name="name" placeholder="Ваше имя")
				label
					+svg('company',20,20)
					input(type="text" name="company" placeholder="Компания")
				label
					+svg('phone',20,20)
					input(type="tel" name="phone" placeholder="Телефон")
				label
					+svg('mail',20,20)
					input(type="mail" name="mail" placeholder="Электронная почта")
			+e.col-right
				label(for="message")
					+svg('mail',20,20)
					textarea(name="message" id="message" placeholder="Сообщение")
			span Данные не передаются третьим лицам
				+svg('protect',20,27)
			+e.BUTTON.send-btn.btn.waves-effect.waves-light(name="contact" type="submit") Отправить
