include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+full-viewport-width(services.dangerous)
			p.text.center Перевозка ADR разными видами транспорта предполагает соблюдение определенных правил, норм. Очень важен и необходим опыт квалифицированного персонала, который отлично знает необходимые инструкции. Определенные ресурсы также сыграют свою роль при транспортировке того или иного груза.
			p.text.center Предполагается, что компании, специализированные на перемещении опасного груза, обязаны обеспечивать комплексный подход для осуществления поставленных задач. Это касается разработки индивидуальных маршрутов следования, полного оформления всей требуемой законом документации, проведения консультаций экспертного уровня и так далее.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+svg('plane',60,60)
							b Перевозка любого класса опасности
							p.text Взрывчатые материалы (1 класс), газы под давлением (2 класс), легковоспламеняющиеся и самовозгорающиеся жидкости (3 класс), твердые вещества (4 класс), окисляющиеся вещества и пероксиды (5 класс), яды и инфекционные вещества (6 класс), радиоактивные (7 класс), коррозионные (8 класс), другие опасные вещества (9 класс).
						+e.LI.item
							+svg('plane',60,60)
							b Сервис по перевозке
							p.text Парк подготовленного специализированного автотранспорта, наличия разрешений на перевозку опасных грузов, тщательного выбор, подготовка и маркировки транспортного средства, опытные водители, разработка маршрута перевозки и режима перемещения, обеспечения безопасности грузоперевозки, пакет разрешений и допусков на перевозки под особым режимом безопасности.
							p.text Перевозим опасные грузы в составе сборки, что позволяет значительно сократить расходы на перевозку опасного груза небольшой партии. 
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+b.SECTION.cargo-types
				+e.inner.center
					+e.H2.title.heading._h2 виды перевозимых грузов
					+e.UL.list
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
			+b.SECTION.about-specialist
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 виктория зайко
						b специализируется на авиаперевозках
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
