.our-mission,
.our-principles
	&__list
		row-flex()
		justify-content: space-between;
		flex-wrap wrap
	&__item
		col()
		size(4)
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		flex-basis 360px
		b 
			color: #2196f3;
			font-size: 24px;
			font-weight: 300;
			line-height: 36px;
		p 
			width 330px
			margin-top 30px
			margin-bottom 60px
			color: $c_text;
			font-size: 14px;
			font-weight: 300;
			line-height: 21px;
.our-principles
	&__title 
		padding-top 20px
