.our-mission,
.our-principles
	&__list
		row-flex()
	&__item
		col()
		size(4)
		size-xxs(12)
		&:not(:last-child)
			xxs-block({
			  margin-bottom: 30px
			})
		b
			display block
			margin-bottom 30px
			color #2196f3
			font-size 24px
			font-weight 300
			line-height 36px
			xxs(margin-bottom, 15px)
		p
			color $c_text
			font-size 14px
			font-weight 300
			line-height 21px
.our-principles
	&__item:nth-child(n+4)
		padding-top 60px
		xxs(padding-top, 0)
.our-team
	&__list
		row-flex()
		xxs(justify-content, center)
	&__item
		col()
		size(6)
		size-xxs(10)
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: space-between;
		min-height 270px
		background-color #0d47a1
		border-radius 5px
		xxs-block({
		  flex-direction: column
			max-width: 80%
			margin: 0 40px
		})
		&:not(:nth-last-child(-n+1))
			margin-bottom 30px
			xxs(margin-bottom, 0)
	.slick-next
		right 0
	.slick-prev
		left 0
	&__img-wrap
		display -webkit-flex
		display -ms-flex
		display flex
		align-items: flex-end;
		flex-basis 46.85%
		xxs-block({
		  flex-basis: initial
			width: 235px
			height: 200px
			justify-content: center
		})
		img
			xxs-block({
			  width: 180px
				height: 180px
			})
	&__info
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		flex-basis 53.15%
		padding 30px
		color $c_white
		font-weight 300
		line-height 36px
		xxs-block({
			padding: 15px 10px
			flex-basis: initial
			color: $c_blue
			text-align: center
			background-color: $c_white
		})
		b
			font-size 24px
		span
			font-size 14px
		a
			padding-left 30px
			color $c_white
			font-size 14px
			font-weight 300
			line-height 36px
			xxs(color, inherit)
		p
			&:first-of-type
				margin-top auto
//Жизнь в офисе
.office-life
	&__item
		margin 0 20px
		img
			display block
	.slick-prev,
	.slick-next
		top calc(50% - 30px)
	.slick-next
		right -40px
	.slick-prev
		left -40px
		
//Сотрудники о компании
.workers-about-us
	&__info
		height 575px
		background-image url(__static__content/our-team/people_about_company.png)
		background-repeat no-repeat
		background-position center center
		background-size cover
		& .center
			display -webkit-flex
			display -ms-flex
			display flex
			flex-direction column
			height 100%
			padding 30px
		p
			margin-bottom 30px
			max-width 535px
			color $c_white
			font-size 14px
			font-weight 300
			line-height 21px
			&:last-of-type
				margin-top auto
		span
			line-height 36px
			font-weight 500
