include ../../about-us/about-us
mixin main()
	+b.MAIN.page-content
		+e.inner
			+about-us('page')
			+b.SECTION.our-mission
				+e.inner.center
					+e.H2.title.heading._h2 Наша миссия
					+e.UL.list
						+e.LI.item
							b Мы стремимся <br>сделать мир лучше
							p Постоянно повышаем качество сервиса в области логистики. Мы ведем свой бизнес открыто и развиваем предпринимательство
						+e.LI.item
							b Мы строим большую <br>компанию
							p Успех который постоен на профессионализме, саморазвитие и самореализации наших сотрудников
						+e.LI.item
							b Доставляем радость <br>и качественный сервис
							p Удовлетворяем потребности клиента и решаем любые задачи, сохраняя при этом высочайшее качество продукта и клиентского сервиса.
			+b.SECTION.our-principles
				+e.inner.center
					+e.H2.title.heading._h2 Наши принципы
					+e.UL.list
						+e.LI.item
							b Честность <br>и открытость
							p Мы ничего не скрываем от клиентов и всегда готовы исправлять ошибки. Выполняем на себя обязательства перед сотрудниками. Честны и открыты с партнерами компании.
						+e.LI.item
							b Уважение <br>и поддержка
							p Мы уважаем любой труд в нашей компании и поддерживаем коллег. Стремимся создать хорошие условия для комфортной работы, профессионального и личного развития сотрудников
						+e.LI.item
							b Нет ничего <br>невозможного
							p Только мы сами определяем границы наших возможностей. Мы ставим перед собой большие и амбициозные цели, добиваясь результатов с помощью упорного труда и настойчивости
						+e.LI.item
							b Командный <br>дух
							p Наши достижения — результат команды. Мы поддерживаем друг друга и помогаем новым специалистам — только так мы сможем преуспеть.
						+e.LI.item
							b Здоровый <br>образ жизни
							p Мы пропагандируем здоровый образ жизни. Активная работы и активный отдых — залог успеха!
						+e.LI.item
							b Отличные <br>возможности
							p Наша компания предоставляет возможности для всех. Сделать карьеру благодаря труду и результативности у нам может каждый
			+b.SECTION.our-team
				+e.inner.center
					+e.H2.title.heading._h2 Наша команда
					+e.UL.list#our-team
						+e.LI.item
							+e.img-wrap
								img(src='__static__img/content/our-team/photo.png' width='255' height='255')
							+e.info
								b Влад Рахманов
								span Директор по развитию
								p
									+svg('phone',15,15)
									a(href='tel:37529777777') +375 29 777-77-77
								p
									+svg('mail',15,15)
									a(href='mailto:address@tvlogistic.by') address@tvlogistic.by
						+e.LI.item
							+e.img-wrap
								img(src='__static__img/content/our-team/photo.png' width='255' height='255')
							+e.info
								b Влад Рахманов
								span Директор по развитию
								p
									+svg('phone',15,15)
									a(href='tel:37529777777') +375 29 777-77-77
								p
									+svg('mail',15,15)
									a(href='mailto:address@tvlogistic.by') address@tvlogistic.by
						+e.LI.item
							+e.img-wrap
								img(src='__static__img/content/our-team/photo.png' width='255' height='255')
							+e.info
								b Влад Рахманов
								span Директор по развитию
								p
									+svg('phone',15,15)
									a(href='tel:37529777777') +375 29 777-77-77
								p
									+svg('mail',15,15)
									a(href='mailto:address@tvlogistic.by') address@tvlogistic.by
						+e.LI.item
							+e.img-wrap
								img(src='__static__img/content/our-team/photo.png' width='255' height='255')
							+e.info
								b Влад Рахманов
								span Директор по развитию
								p
									+svg('phone',15,15)
									a(href='tel:37529777777') +375 29 777-77-77
								p
									+svg('mail',15,15)
									a(href='mailto:address@tvlogistic.by') address@tvlogistic.by
			+b.SECTION.office-life
				+e.inner.center
					+e.H2.title.heading._h2 Жизнь в офисе
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/43846911_ml.png' width='688' height='460')
						+e.LI.item
							img(src='__static__img/content/43846911_ml.png' width='688' height='460')
						+e.LI.item
							img(src='__static__img/content/43846911_ml.png' width='688' height='460')
						+e.LI.item
							img(src='__static__img/content/43846911_ml.png' width='688' height='460')
						+e.LI.item
							img(src='__static__img/content/43846911_ml.png' width='688' height='460')
			+b.SECTION.workers-about-us
				+e.inner.center
					+e.H2.title.heading._h2 Сотрудники о компании
				+e.info
					.center
						p «ТВ Логистик» — это настоящий трамплин для демонстрации профессиональных навыков и проявления личности.
						p  Влиться можно, только если ты готов расти. И неважно, с каким багажом ты попал в команду, требования компании и коллег всегда будут тянуть тебя вверх.
						p
							span Мария Шарапова
							|, в компании с 2012 года
