mixin logo(data)
	+b.logo
		+e.img-wrap
			img(src='%=static=%img/general/logo_white.svg' width='50' height='50' alt='ТВ Логистик логотип')
		+e.text 
			span ТВ Логистик 
			span Ваш надежный парнер!
