.logo
	display -webkit-flex
	display -ms-flex
	display flex
	// flex-wrap wrap
	justify-content space-between
	align-items center
	width 235px	
	&__img-wrap
		display block
		xxs-block({
			width: 40px
			height: 40px
		})
	&__text
		xxs(display, none)
		span
			display block
			color $c_white
			line-height 24px
			&:first-child
				font-size 18px
				font-weight 500
			&:last-child
				font-size 14px
				font-weight 300
