mixin clients(data)
	+b.SECTION.clients
		+e.inner.center
			+e.H2.title.heading._h2 Клиенты
			+b.UL.filter
				+e.LI.item.active#all(data-type='all') Все
				+e.LI.item#wood(data-type='wood') Деревообрабатывающая промышленность
				+e.LI.item#materials(data-type='materials') Строительные материалы
				+e.LI.item#food(data-type='') Питание
				+e.LI.item#auto(data-type='') Автомобильная техника
				+e.LI.item#furniture(data-type='') Дом и мебель
				+e.LI.item#paper(data-type='') Целлюлозно-бумажная
				+e.LI.item#agricultura(data-type='') Сельхозтехника
				+e.LI.item#repair(data-type='') Строительство и ремонт
			+e.UL.list
				+e.LI.item(data-type='wood')
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				+e.LI.item(data-type='wood')
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				+e.LI.item
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				+e.LI.item
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				+e.LI.item
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				+e.LI.item
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				+e.LI.item
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				+e.LI.item
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				
				+e.LI.item
					+svg('plane',100,100)
					b Клиент
					p Мировой лидер в области производства высококачественных древесных плит и смежной продукции
				