include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../solutions/solutions
include ../../additional-services/additional-services
include ../../video/video
include ../../request-form/request-form
mixin main()
	+b.MAIN.page-content
		+video({
			bgPath: '__static__general/bg_main.png',
			videoPath: '__static__/img/general/video/tamozhen_oformlenie.mp4'
		})
		+e.inner
			+full-viewport-width(services.custom)
			.content
				p.text.center Профессиональная помощь специалистов позволит избежать задержек на таможне, сэкономить драгоценное время и денежные средства. Мы предлагаем следующие услуги по таможенному оформлению грузов:
				ul.content-list.center
					li Предварительное консультирование:
						ul.sub-list
							li требование к внешнеторговым контрактам;
							li классификация грузов в соответствии с товарной номенклатурой внешнеэкономической деятельности (в том числе подбор кодов).
					li Предоставление необходимой информации о величине таможенной пошлины:
						ul.sub-list
							li предварительный расчет сумм таможенных платежей;
							li размер ставки таможенной пошлины и НДС;
							li подготовка необходимых документов для таможенного оформления, получение разрешений и сертификатов.
					li Инструкции по заполнению всех товаросопроводительных документов (TIR, Carnet ATA, CMR, ЕХ1, Т1, T2, гарантийное обеспечение);
					li Общее консультирование в вопросах таможенного оформления и решение любых нестандартных ситуаций, связанных с перевозкой и сопровождением груза.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/7/icon-1.svg", width='60' height='60')
							b Высокий уровень сервиса
							p.text Все возможные трудности в перевозке стараемся предусмотреть на стадии планирования отгрузки, так как все сотрудник имеют большой опыт работы в организации международных грузоперевозок.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/7/icon-2.svg", width='60' height='60')
							b Наши сотрудники
							p.text Штат компании состоит из опытных высококвалифицированных специалистов, имеющих необходимые сертификаты, лицензии для осуществления и организации транспортировки.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Заполнение
								br
								| заявки
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Подписание необходимых документов
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Отправка груза в необходимую точку мира
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Доставка "до двери"
								br
								| клиента
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link.waves-effect.waves-light.style(href='russian-direction.html')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link.waves-effect.waves-light.style(href='asian-direction.html')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link.waves-effect.waves-light.style(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link.waves-effect.waves-light.style(href='american-direction.html')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+solutions(solutions)
			+b.SECTION.about-specialist._7
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Наталья Филатова
						b специализируется на таможенных услугах
						+e.A.link.btn._large(href='/contacts.html') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
			+request-form
