.contact-info
	position absolute
	width 280px
	padding 30px
	bottom 0
	left 100px
	font-size 14px
	line-height 21px
	font-weight 300
	background-color $c_white
	border-radius 5px 5px 0px 0px
	span
		padding-left 30px
		margin-bottom 15px
		color $c_text-light-blue
	a
		display block
		padding-left 45px
		margin-bottom 30px
		color $c_text-medium-blue
	p 
		padding-left 45px
		color $c_text-medium-blue
