mixin contact-info(data)
	if data.modifier === 'right'
		+b(class='contact-info_#{data.modifier}')
			+e.inner
				+e.item
					+svg('phone-blue',15,15)
					a(href='tel:+375173000025') +375(17) 300-00-25
				+e.item
					+svg('mail-blue',15,15)
					a(href='mailto:info@tvlogistic.ru') info@tvlogistic.ru
				+e.item
					+svg('marker-blue',15,15)
					p Республика Беларусь
						<br> 220112, г.Минск
						<br> ул. Янки Лучины
						<br> д. 7, пом. 404
				+e.A.link.btn.waves-effect.waves-light(href='contacts.html') написать нам
	else if data.modifier === 'mobil'
		+b(class='contact-info_#{data.modifier}')
			+e.inner
				+e.item
					+svg('phone-blue',15,15)
					a(href='tel:+375173000025') +375(17) 300-00-25
				+e.item
					+svg('mail-blue',15,15)
					a(href='mailto:info@tvlogistic.ru') info@tvlogistic.ru
				+e.item
					+svg('marker-blue',15,15)
					p Республика Беларусь
						<br> 220112, г.Минск
						<br> ул. Янки Лучины
						<br> д.7, пом. 404
	else
		+b(class='contact-info_#{data.modifier}')
			+e.inner
				+e.item
					+svg('phone-blue',15,15)
					a(href='tel:+375173000025') +375(17) 300-00-25
				+e.item
					+svg('mail-blue',15,15)
					a(href='mailto:info@tvlogistic.ru') info@tvlogistic.ru
				+e.item
					+svg('marker-blue',15,15)
					p Республика Беларусь
						<br> 220112, г.Минск
						<br> ул. Янки Лучины
						<br> д. 7, пом. 404
