mixin about-us(data)
	+b.SECTION.about-us
		+e.top-row
			+e.inner.center
				+e.UL.list
					+e.LI.item
						b 4
						span Отдела
					+e.LI.item
						b 20+
						span профессионалов
					+e.LI.item
						b 7
						span лет вместе
					+e.LI.item
						b 150
						span тысяч тонн в месяц
				+e.A.link.btn._blue(href='') О нашей команде
		+e.bottom-row.center
			+e.H2.title.heading._h2 О нас
			p Компания ООО «ТВ Логистик» специализируется на международных грузоперевозках комплектных и сборных грузов автомобильным транспортом по направлениям: Европа—Беларусь, Россия – Беларусь, Прибалтика — Беларусь, Европа – Россия, Прибалтика – Россия, Европа – Казахстан и Средняя Азия, Прибалтика – Казахстан и Средняя Азия, Украина – Беларусь, Прибалтика – Украина, перевозки внутри Европы (Германия – Прибалтика, Германия – Польша и др.
			p Компания является постоянным и надёжным партнёром многих крупных белорусских предприятий в предоставлении транспортно-экспедиционных и логистических услуг.
