.about-us
	position relative
	background-color $c_white
	&_page &__top-row
			min-height 100vh
	&__top-row
		// background-image url(__static__content/people_company.png)
		// background-repeat no-repeat
		// background-position center
		// background-size cover
		img
			width 100%
			position absolute
			height 35vw
			xxs-block({
			  height: 100vw
			})
	&__inner
		position relative
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		height 35vw
		padding-top 40px
		padding-bottom 80px
		z-index 2
		xxs-block({
			height: 100vw
			padding-bottom: 30px
		})
	&__list
		row-flex()
		flex-basis 100%
		xxs(display, none)
	&_page &__list
		margin-top auto
	&__item
		col()
		size(3)
		color $c_dark-blue
		font-weight 500
		line-height 36px
		text-transform uppercase
		text-align center
		b
			display block
			margin-bottom 25px
			font-size 48px
		span
			font-size 14px
	&_page &__item
		color $c_white
	&__link
		margin-top auto
		margin-left auto
		padding 22px 50px
		font-weight 500
		xxs-block({
			margin: auto auto 0
		})
	&_page &__link
		display none
	&__bottom-row
		p
			margin-bottom 20px
			color $c_text
			font-size 14px
			font-weight 300
			line-height 21px
			&:last-child
				margin-bottom 0
			