.about-us
	&__top-row
		min-height 900px
		background-image url(__static__content/people_company.png)
		background-repeat no-repeat
		background-position center center
		background-size cover
	&__inner
		padding-top 80px
	&__list
		row-flex()
	&__item
		col()
		size(3)
		color $c_dark-blue
		font-weight 500
		line-height 36px
		text-transform uppercase
		text-align center
		b
			display block
			margin-bottom 25px
			font-size 48px
		span
			font-size 14px
	&__bottom-row
		p
			margin-bottom 20px
			color $c_text
			font-size 14px
			font-weight 300
			line-height 21px
			