include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+full-viewport-width(services.multimodal)
			p.text.center Главной его задачей является снижение расходов и времени поставки. При этом логистическая компания выступает единым организационным и координационным центром, что очень удобно для клиента.  Для организации мультимодальных перевозок используют всю транспортную инфраструктуру: терминалы, консолидационные склады, порты, аэропорты и др., что предполагает высочайшую степень координации действий всех участников логистического процесса.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/5/icon-1.svg", width='60' height='60')
							b Высокий уровень сервиса
							p.text Все возможные трудности в перевозке стараемся предусмотреть на стадии планирования отгрузки, так как все сотрудники имеют большой опыт  работы в организации международных грузоперевозок.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/5/icon-2.svg", width='60' height='60')
							b Мы - надежный партнер!
							p.text Мы предоставляем возможность интеграции ваших бизнес проектов в уже существующие логистические  схемы и маршруту, что позволит снизить затраты на транспортные услуги до минимума. Осуществляем перевозки грузов со строгими датами загрузки и доставки.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/5/icon-3.svg", width='60' height='60')
							b Опыт
							p.text Мы выгодно отличаемся от других операторов рынка продуманными схемами доставки и подбором максимально выгодного решения для клиента.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/5/icon-4.svg", width='60' height='60')
							b Грамотное планирование
							p.text Мы предлагаем: разработку выгодного и удобного маршрута следования, расчет стоимости, времени поставки, подготовку сопроводительной документации, погрузку/разгрузку груза, таможенную очистку, складское хранение, доставку «до двери».

			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+b.SECTION.cargo-types
				+e.inner.center
					+e.H2.title.heading._h2 виды перевозимых грузов
					+e.UL.list
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
			+b.SECTION.about-specialist._5
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Влад Рахманов
						b специализируется на мультимодальных перевозках
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
