include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+full-viewport-width(services.aviatransportation)
			p.text.center Компания ООО “ТВ Логистик” осуществляет срочные авиаперевозки грузов в любую точку миру. 
				|Нашим клиентам мы гарантируем полную сохранность груза, в том числе хрупкого и скоропортящегося, его своевременную доставку, оговоренную по договору. При этом мы берем на себя все заботы о таможенном оформлении, заполнении транспортных накладных, иной документации. 
				|Строгий контроль и полная ответственность с нашей стороны обеспечит полное соответствие авиаперевозок международным и отечественным правилам к данному виду услуг. Постоянный мониторинг груза обеспечит надежность оказываемых нами услуг, которые мы уже более 5 лет предлагаем нашим клиентам, которым нужно быстро доставить вещи, товары, стройматериалы, корреспонденцию грузовыми авиаперевозчиками по всему миру.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+svg('plane',60,60)
							b Профессионализм специалистов и внушительный опыт работы
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						+e.LI.item
							+svg('plane',60,60)
							b Профессионализм специалистов и внушительный опыт работы
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						+e.LI.item
							+svg('plane',60,60)
							b Профессионализм специалистов и внушительный опыт работы
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						+e.LI.item
							+svg('plane',60,60)
							b Профессионализм специалистов и внушительный опыт работы
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+b.SECTION.cargo-types
				+e.inner.center
					+e.H2.title.heading._h2 виды перевозимых грузов
					+e.UL.list
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
			+b.SECTION.about-specialist
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 виктория зайко
						b специализируется на авиаперевозках
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
