.reviews
	padding-bottom 80px
	background-color $c_white
	&__list
		row-flex()
	&__item
		col()
		size(3)
		text-align center
		outline 1px solid #c1c1c1
		size-xxs(12)
		xxs-block({
			outline: 2px solid	
		})
