.reviews
	padding-bottom 80px
	background-color $c_white
	&__list
		row-flex()
	&__item
		col()
		size(3)
		max-height 330px
		text-align center
		box-shadow 0 2px 8px rgba(0,0,0,.15)
		size-xxs(12)
		xxs-block({
			outline: 2px solid	
		})
		a,
		img
			width 260px
			height 330px
