.reviews
	margin-bottom 80px
	background-color $c_white
	xxs(margin-bottom, 20px)
	&__list
		row-flex()
	&__item
		col()
		size(3)
		max-height 330px
		text-align center
		box-shadow 0 2px 8px rgba(0,0,0,.15)
		size-xxs(12)
		a,
		img
			width 260px
			height 330px
