.online-services
	background-image url(%=static=%general/online-services/bg_online-services.png)
	background-repeat no-repeat
	background-size 100%
	xxs-block(@block{
		background-image url(%=static=%general/online-services/bg_online-services_mob.png)
	})
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		padding-top 60px
	&__title
		margin-top 140px
		xxs(margin-top, 50px)
		margin-bottom 120px
		color $c_white
		font-size 24px
		font-weight 500
		line-height 24px
		text-transform uppercase
		&_modal
			color $c_text
			margin-top 0
	&__text 
		max-width 516px
		margin-bottom 90px
		xxs(margin-bottom, 60px)
		color $c_white
		font-size 14px
		font-weight 300
		line-height 24px
	&__list
		row-flex()
		justify-content: space-between;
		.hidden
			display none
	&__item
		col()
		size(2)
		size-xxs(12)
		flex-basis 540px
		padding 60px
		margin-bottom 60px
		cursor pointer
		xxs-block({
			padding: 45px 30px
			margin-bottom: 15px
			flex-basis: 100%
			min-height: 270px
			text-align: center
		})
		svg 
			display inline-block
			vertical-align middle
		span 
			display inline-block
			width 275px
			margin-left 55px
			vertical-align middle
			color: #2196f3;
			font-size: 24px;
			font-weight: 300;
			line-height: 36px;
			xxs-block({
				width: 100%
				margin: 0
				margin-top: 20px
				text-align: center
			})
	&__modal
		position absolute
		top 10%
		left calc(50% - 375px)
		width 750px
		padding 30px
		background-color $c_white
		z-index 1002
		border-radius 5px
		xxs-block(@block{
			width 90%
			left calc(50% - 45%)
			top calc(50% - 25%)
			padding 20px
		})
