include ../logo/logo
include ../main-navigation/main-navigation
include ../language/language
mixin header(data)
	+b.HEADER(class='page-header')
		+e.inner.center
			+logo
			+main-navigation
			+language
