.page-header
	position fixed
	width 100%
	left 0
	top 0
	right 0
	padding-top 60px
	transition: all 0.4s ease-in-out;
	z-index 1000
	xxs-block({
		padding-top: 0
		z-index: 100
	})
	&.stick
		padding-top 10px
		padding-bottom 10px
		color $c_text
		transition: all 0.4s ease-in-out;   
		background: rgba(255,255,255,1);
		box-shadow: 3px 0 6px rgba(0, 0, 0, 0.19)
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		align-items center
		min-height 55px
		position relative
		xxs-block(padding-top, 20px)
	&__nav-toggle
		display none
		position absolute
		width 30px
		height 30px
		top 30px
		right 25px
		border none
		background-color transparent
		outline none
		xxs-block({
			display: block
			z-index: 101
		})
		& .burger
			font-size 0
			background-color: #fff
			border-radius: 1px
			height: 2px
			width: 100%
			position: absolute
			left: 50%
			top: 50%
			margin: -1px 0 0 -15px
			transition: height 100ms
			&:after,
			&:before 
				content: ''
				background-color: #fff
				border-radius: 1px
				height: 2px
				width: 100%
				position: absolute
				left: 50%
				margin-left: -15px
				transition: all 200ms
			&:after
				top: -7px
			&:before
				bottom: -7px
		&.open
			& .burger
				height 0
				&:after,
				&:before
					background-color $c_blue
					top 1px
				&:after
					transform rotate(45deg)
				&:before
					transform rotate(-45deg)
			