.page-header
	position relative
	// background-color #ccc
	// z-index 1000
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		align-items center
		position fixed
		width 100%
		left 0
		top 0
		right 0
