include ../logo/logo
include ../main-navigation/main-navigation
mixin header(data)
	+b.HEADER(class='page-header')
		+e.inner.center
			+logo
			+main-navigation
			+e.BUTTON.nav-toggle#nav-toggle.act
				span.burger меню
