include ../../services/services
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+b.SECTION.promo-services.viewport-width
				+e.inner.center
					+e.H1.title.heading._h1 комплекс логистических услуг для малого и крупного бизнеса
					p Мы специализируемся на международных грузоперевозках комплектных и сборных грузов автомобильным, железнодорожным, авиа, морским транспортом по направлениям: Европа, Россия, Азия, Америка. Компания является постоянным и надёжным партнёром многих крупных белорусских предприятий в предоставлении транспортно-экспедиционных и логистических услуг.
			+services
			+b.SECTION.addition-services.viewport-width
				+e.inner.center
					+e.H2.title.heading._h1 дополнительные услуги в сфере транспортно-логистических услуг
					p Предлагаем нашим клиентам и партнерам широкий спектр дополнительных услуг, а также комплексное решение всех сопутствующих логистике вопросов при перевозке, складировании и консультации.
			+additional-services
			+b.SECTION.our-directions.viewport-width
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					p Cпециализируемся на международных грузоперевозках комплектных и сборных грузов по направлениям: Европа — Беларусь, Россия – Беларусь, Прибалтика — Беларусь, Европа – Россия, Прибалтика – Россия, Европа – Казахстан и Средняя Азия, Прибалтика – Казахстан и Средняя Азия, Украина – Беларусь, Прибалтика – Украина, перевозки внутри Европы (Германия – Прибалтика, Германия – Польша и др.)
					+e.A.link.btn._large.waves-effect.waves-light(href='directions.html') подробнее
