//промо блок
.promo-services
	background-image url(__static__content/services/bg-1.png)
	background-repeat no-repeat
	background-position center center
	background-size cover
	&__inner
		min-height 50vh
		padding-top 200px
	&__title
		max-width 555px
		margin-bottom 50px
	p
		max-width 555px
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
.addition-services
	background-image url(__static__content/services/bg-2.png)
	background-repeat no-repeat
	background-position center center
	background-size cover
	&__inner
		min-height 500px
		padding-top 90px
	&__title
		max-width 555px
		margin-bottom 50px
	p
		max-width 555px
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
//Наши направления
.our-directions
	background-image url(__static__content/services/bg-3.png)
	background-repeat no-repeat
	background-position center center
	background-size cover
	&__inner
		min-height 500px
		padding-top 90px
		padding-bottom 90px
	&__title
		max-width 555px
		margin-bottom 50px
	p
		max-width 555px
		margin-bottom 15px
		color $c_white
		font-size 14px
		font-weight 300
		line-height 21px
	&__link
		display block
		width 160px
		min-height 40px
		margin-top 145px
		font-size 14px
		font-weight 500
		line-height 40px
		text-transform uppercase
		text-align center
