//промо блок
.promo-services
	background-image url(__static__content/services/bg-1.png)
	min-height 50vh
	padding-top 200px
	&__title
		margin-bottom 30px
.addition-services
	background-image url(__static__content/services/bg-2.png)
	min-height 500px
//Наши направления
.our-directions
	background-image url(__static__content/services/bg-3.png)
