//промо блок
.promo-services
	background-image url(__static__general/services/bg-1.png)
	min-height 50vh
	padding-top 200px
	xxs-block(@block{
		background-image url(__static__general/services/bg-1_mob.png)
	})
	&__title
		margin-bottom 30px
.addition-services
	background-image url(__static__general/services/bg-2.png)
	min-height 500px
	xxs-block(@block{
		background-image url(__static__general/services/bg-2_mob.png)
	})
//Наши направления
.our-directions
	background-image url(__static__general/services/bg-3.png)
	xxs-block(@block{
		background-image url(__static__general/services/bg-3_mob.png)
	})
