include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+full-viewport-width(services.trucktransport)
			p.text.center Мы являемся надежным партнером белорусских крупных предприятий в сфере транспортно-логистических услуг. Используя отработанные каналы доставки и опыт в сфере логистики, наша компания оказывает клиентам обширный спектр транспортно-логистических услуг. Осуществляем доставку груза как прямыми автомобилями (без перегрузки), так и с использованием складов консолидации. По поручению клиента мы оформляем ЕХ-1 (экспортную декларацию), Т-1 (транзитную декларацию) CMR, Carnet TIR, 		Carnet A.T.A и другие документы. Автомобили, предоставляемые нами для перевозок грузов, имеют CMR-страхование. Также мы можем дополнительно застраховать Ваш груз от конкретного случая или от всех рисков (минимальные тарифы страхования, предоставляемые страховыми компаниями для нас, будут доступны и вам).
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/1/icon-1.svg", width='60' height='60')
							b Организация автогрузоперевозки
							p.text Для клиентов мы разрабатываем маршрут движения, подбираем грузовой транспорт, осуществляем взвешиванием, маркировку и  упаковка груза. Контролируем загрузку и разгрузка автотранспорта. Предоставляем услуги консолидации и расконсолидации груза.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/1/icon-2.svg", width='60' height='60')
							b Широкий парк автомобилей
							p.text Предоставляем услуги различными типами автомобилей: грузовые автомобили различной грузоподъемности и кубатуры, тягачи, прицепы, полуприцепы, рефрижераторы, цистерны, площадки для негабаритных грузов(тралы), допельштоки.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/1/icon-3.svg", width='60' height='60')
							b Виды перевозимых грузов
							p.text Комплектные (доставка одним транспортным средством), сборные грузы (перевозки мелкогабаритных грузов различных заказчиков), опасные грузы любого класса (ADR), негабаритные грузы, дорогие грузы, проектные перевозки (доставка сложных производственных единиц), температурные грузы (замороженные, охлажденные, охлаждаемые).
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/1/icon-4.svg", width='60' height='60')
							b Доставляем "от двери до двери"
							p.text Современные автомобили позволяют нам осуществлять доставку вовремя и отслеживать на всем пути перевозки. Широкий выбор машин и прицепов позволяет транспортировать любой вид груза. Наши водители обладают высоким уровнем профессионализма и опытом.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+b.SECTION.cargo-types
				+e.inner.center
					+e.H2.title.heading._h2 виды перевозимых грузов
					+e.UL.list
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
			+b.SECTION.about-specialist._1
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Артем Жартун
						b специализируется на автомобильных перевозках
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
