mixin direction(data)
	+b.direction
		+e.inner.center
			+e.H2.title Наши направления
			+e.P.text C 2009 года мы являемся надежным партнером для крупнейших белорусских предприятий в сфере транспортно-логистических услуг. Мы предлагаем комплекс услуг: осуществление международных грузоперевозок различными видами транспорта, импорт-экспорт, консолидацию и расконсолидацию, таможенное оформление и страхование груза.
			+b.direction-list
				+e.A.link(href='russian-direction.html')
					span Россия
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
				+e.A.link(href='asian-direction.html')
					span Азия
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
				+e.A.link(href='european-direction.html')
					span Европа
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
				+e.A.link(href='american-direction.html')
					span Америка
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
