mixin direction(data)
	+b.direction
		+e.inner.center
			+e.H2.title Наши направления
			+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			+b.direction-list
				+e.A.link(href='#')
					span Россия
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
				+e.A.link(href='asian-direction.html')
					span Азия
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
				+e.A.link(href='european-direction.html')
					span Европа
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
				+e.A.link(href='american-direction.html')
					span Америка
					p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
