.direction
	background-image url(%=static=%general/bg_direction.png)
	background-repeat no-repeat
	// background-position 100% center
	background-size cover
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		padding-top 60px
		padding-bottom 60px
	&__title
		margin-top 140px
		xxs(margin-top, 50px)
		margin-bottom 30px
		color $c_white
		font-size 24px
		font-weight 500
		line-height 24px
		text-transform uppercase
	&__text 
		max-width 516px
		margin-bottom 90px
		color $c_white
		font-size 14px
		font-weight 300
		line-height 24px
.direction-list
	row-flex()
	justify-content: space-between;
	xxs(justify-content, center)
	&__link
		col()
		size(3)
		size-xxs(12)
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		flex-basis 240px
		min-height 310px
		padding 60px 30px
		text-align center
		xxs-block({
			padding: 45px 30px
			flex-basis: 100%
			min-height: 220px
		})
		&:not(:last-child)
			xxs(margin-bottom, 30px)
		span 
			color: #2196f3;
			font-size: 24px;
			font-weight: 300;
			line-height: 24px;
		p 
			margin-top auto
			color: $c_text;
			font-size: 14px;
			font-weight: 300;
			line-height: 21px;
		