.service-type
	background: url(__static__minified-svg/pixel.svg) repeat
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		min-height 100vh
		padding-top 130px
		padding-bottom 190px
	&__title
		margin-top auto
		margin-bottom 30px
	&__link
		margin-top 15vh
		padding 12px 0
		font-weight 500
	p
		max-width 555px
		margin-bottom 30px
		&:last-of-type
			margin-bottom 0
