mixin services(data)
	+b.services
		+e.inner
			+e.A.item(href='#')
				+svg('services-1',88,46)
				b Автомобильные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-2',88,46)
				b Железнодорожные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-3',88,46)
				b Авиа
					br
					|перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-4',88,46)
				b Морские перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-5',88,46)
				b Мультимодальные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				+svg('services-6',88,46)
				b Сборные
					br
					|грузы
				p Most designers set their type arbitrarily, either by pulling values out 
