mixin services(data)
	+b.services
		+e.inner
			+e.A.item(href='#')
				+svg('service-1',98,46)
				b Автомобильные перевозки
				p Грузоперевозки различными типами автомобилей и видами грузов.
			+e.A.item(href='#')
				+svg('service-2',88,46)
				b Железнодорожные перевозки
				p Перевозки грузов по железной дороге различными видами вагонов.
			+e.A.item(href='aviatransportations.html')
				+svg('service-3',88,46)
				b Авиа
					br
					|перевозки
				p Осуществляем экспорт и импорт грузов чартерными и регулярными рейсами.
			+e.A.item(href='#')
				+svg('service-4',88,46)
				b Морские перевозки
				p Комплекс услуг по организации линейной и трамповой морской грузоперевозки.
			+e.A.item(href='#')
				+svg('service-5',88,46)
				b Мультимодальные перевозки
				p Способ доставки грузов с использованием нескольких видов транспортных средств.
			+e.A.item(href='#')
				+svg('service-6',88,46)
				b Сборные
					br
					|грузы
				p Услуга выгодна малому и среднему бизнесу, позволяет сэкономить на транспортировке.
