mixin services(data)
	+b.services
		+e.inner
			+e.A.item(href='truck-transportation.html')
				+svg('service-1',90,60)
				b Автомобильные перевозки
				p Грузоперевозки различными типами автомобилей и видами грузов.
			+e.A.item(href='rail-transportation.html')
				+svg('service-2',90,60)
				b Железнодорожные перевозки
				p Перевозки грузов по железной дороге различными видами вагонов.
			+e.A.item(href='avia-transportations.html')
				+svg('service-3',90,60)
				b Авиа
					br
					|перевозки
				p Осуществляем экспорт и импорт грузов чартерными и регулярными рейсами.
			+e.A.item(href='sea-transportation.html')
				+svg('service-4',90,60)
				b Морские перевозки
				p Комплекс услуг по организации линейной и трамповой морской грузоперевозки.
			+e.A.item(href='multimodal-transportation.html')
				+svg('service-5',90,60)
				b Мультимодальные перевозки
				p Способ доставки грузов с использованием нескольких видов транспортных средств.
			+e.A.item(href='modular-cargo.html')
				+svg('service-6',90,60)
				b Сборные
					br
					|грузы
				p Услуга выгодна малому и среднему бизнесу, позволяет сэкономить на транспортировке.
