mixin services(data)
	+b.services
		+e.inner
			+e.A.item(href='#')
				b Автомобильные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Железнодорожные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Авиа перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Морские перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Мультимодальные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Сборные грузы
				p Most designers set their type arbitrarily, either by pulling values out 
