mixin services(data)
	+b.services
		+e.inner
			+e.A.item(href='#')
				b Автомобильные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Железнодорожные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Авиа <br>перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Морские <br>перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Мультимодальные перевозки
				p Most designers set their type arbitrarily, either by pulling values out 
			+e.A.item(href='#')
				b Сборные <br>грузы
				p Most designers set their type arbitrarily, either by pulling values out 
