include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../solutions/solutions
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+full-viewport-width(services.railtransport)
			p.text.center Железнодорожные грузоперевозки являются одним из недорогих и надежных способов перемещения грузов. Компания является надежным партнером больших предприятий Республики Беларусь. Среди достоинств данной услуги стоит отметить возможность перевозить единовременно большие партии строительного сырья, сыпучих веществ, строительных материалов, а также негабаритных грузов, перевозка которых автотранспортом невозможна.
			p.text.center Также мы осуществляем железнодорожную доставку контейнеров из портов: Прибалтики (Клайпеда, Рига, Таллинн), Украины (Ильичевск, Одесса), Германии (Гамбург), России (Санкт-Петербург). Наша компания осуществляет доставку негабаритных грузов по железной дороге, что, в некоторых случаях, позволят в разы снизить стоимость доставки негабаритного груза в пункт назначения. Также мы можем дополнительно застраховать Ваш груз от конкретного случая или от всех рисков — минимальные тарифы страхования, предоставляемые страховыми компаниями для Нас, будут доступны и Вам.

			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/2/icon-1.svg", width='60' height='60')
							b Доставляем "от двери до двери"
							p.text Мы подбираем тип вагона, разрабатываем схему крепления и погрузки, подготовка необходимых документов, экспедирование грузов,пломбирование контейнеров, доставка “до двери” клиента.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/2/icon-2.svg", width='60' height='60')
							b Разновидности вагонов
							p.text Предлагаем перевозку грузов по железной дороге различными видами вагонов: крытые вагоны, вагоны-цистерны, фитинговые платформы, полувагоны, хопперы, рефрижераторные вагоны, и другие типы подвижного состава.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/2/icon-3.svg", width='60' height='60')
							b Высокий уровень сервиса
							p.text Все возможные трудности в перевозке стараемся предусмотреть на стадии планирования отгрузки, так как все сотрудник имеют большой опыт работы в организации международных грузоперевозок.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/2/icon-4.svg", width='60' height='60')
							b Наши направления
							p.text Обширная география: страны Балтии, СНГ, Азии, Прибалтики, Европы, США. Регулярность перевозок, устойчивые транспортные связи между отдельными регионами стран.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+solutions(solutions)
			+b.SECTION.about-specialist._2
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Вадим Давидович
						b специализируется на железнодорожных перевозках
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
