mixin map-large(data)
	+b.map-large
		+e.inner.center
			b.heading.heading_h1 Работаем уже в 158 странах мира
			+e.A.link._europe(href='european-direction.html') 
				+svg('blue_marker',25,21)
				span Европа
			+e.A.link._america(href='european-direction.html') 
				+svg('blue_marker',25,21)
				span Америка
			+e.A.link._asia(href='european-direction.html') 
				+svg('blue_marker',25,21)
				span Азия
			+e.A.link._russia(href='european-direction.html') 
				+svg('blue_marker',25,21)
				span Россия
			+e.A.link._belarus(href='european-direction.html') 
				+svg('white_marker',50,43)
