include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../solutions/solutions
include ../../additional-services/additional-services
include ../../video/video
include ../../request-form/request-form
mixin main()
	+b.MAIN.page-content
		+video({
			bgPath: '__static__general/bg_main.png',
			videoPath: '__static__/img/general/video/negabaritn.mp4'
		})
		+e.inner
			+full-viewport-width(services.oversized)
			.content
				p.text.center Негабаритные грузы — грузы у которых превышены допустимый вес или габариты транспортного средства. Мы осуществляем комплекс услуг: разрабатываем маршрут, подбираем необходимый транспорт с учетом характеристик груза и обеспечиваем полную документацию грузоперевозки. К ним относятся: промышленное оборудование (станки, агрегаты), дорожно-строительная техника, резервуары для пищевой промышленности,
					|буровые установки, емкости для нефтеперерабатывающих предприятий, сельскохозяйственная техника (комбайны, тракторы,косилки), котельное оборудование, прессовое оборудование,
					|готовые заводские линии и т.д. Осуществляет перевозку тяжеловесных грузов по всему миру любым возможным способом: морским и речным транспортом, автомобильным, железнодорожным, авиацией.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/9/icon-1.svg", width='60' height='60')
							b Полный комплекс услуг
							p.text Разрабатываем маршрут, оформление документов, прохождение предварительных согласований по перевозке негабаритных и тяжеловесных грузов, складские услуги, подбор специализированного транспорта и оборудования для загрузки, крепления, перегрузки, упаковки.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/9/icon-2.svg", width='60' height='60')
							b Наши сотрудники
							p.text Подготовленные профессионалы с солидным опытом в области международных перевозок негабаритных грузов, оформления документов и логистики. Штат компании состоит из опытных высококвалифицированных специалистов, имеющих необходимые сертификаты, лицензии для осуществления и организации транспортировки.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Заполнение
								br
								| заявки
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Подписание необходимых документов
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Отправка груза в необходимую точку мира
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Доставка "до двери"
								br
								| клиента
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+solutions(solutions)
			+b.SECTION.about-specialist._9
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Дмитрий Александрович
						b специализируется на негабаритных грузах
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
			+request-form
