include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+full-viewport-width(services.modular)
			p.text.center Услуга выгодна малому и среднему бизнесу, позволяет сэкономить на транспортировке без потери преимуществ комплектной поставки. Международная транспортировка сборных грузов в нашей компании — это процесс с четким порядком действий, соблюдение которых позволяет безопасно и быстро доставить товар в любую точку мира.
			p.text.center В большинстве случаев сборные грузы перевозятся автомобильным транспортом. Однако сегодня также часто практикуются международные перевозки консолидированных партий грузов при помощи железнодорожного, водного и авиационного транспорта.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/6/icon-1.svg", width='60' height='60')
							b Экономия средств
							p.text Существенная экономия достигается за счет эффективного использования грузового пространства. В этом случае достаточно доступными могут быть даже авиаперевозки, которые в целом отличаются высокой ценой. Обычно перевозка сборных грузов производится в формате «от двери к двери», поэтому удобство данного вида транспортировки также неоспоримо.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/6/icon-2.svg", width='60' height='60')
							b Консолидационные склады
							p.text Склады требующие особого уровня влажности, температурного режима и других нюансов в Европе (Литва, Латвия, Украина, Беларусь), России(Москва, Ростов-на-Дону), Азии (Китай, Индия), Америке.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/6/icon-3.svg", width='60' height='60')
							b Высокий уровень сервиса
							p.text Все возможные трудности в перевозке стараемся предусмотреть на стадии планирования отгрузки, так как все сотрудник имеют большой опыт работы в организации международных грузоперевозок.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/6/icon-4.svg", width='60' height='60')
							b Наши направления
							p.text Обширная география: страны Балтии, СНГ, Азии, Прибалтики, Европы, США. Регулярность перевозок, устойчивые транспортные связи между отдельными регионами стран. Более 1000 сборных грузов ежемесячно разного веса и объема перевозится нами из Азии, Европы и Америки.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+b.SECTION.cargo-types
				+e.inner.center
					+e.H2.title.heading._h2 виды перевозимых грузов
					+e.UL.list
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
			+b.SECTION.about-specialist._6
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Татьяна Мошко
						b специализируется на сборных грузоперевозках
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
