include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../additional-services/additional-services
mixin main()
	+b.MAIN.page-content
		+e.inner
			+full-viewport-width(services.aviatransportation)
			p.text.center Наша компания является надежным партнерам для крупных белорусских и международных компаний по экспорту и импорту грузов в Беларусь. Регулярные авиационные грузоперевозки в Азию, Россию, Америку и Европу. По предварительному согласованию возможна реализация перевозки по любым маршрутам. По поручению клиента мы оформляем ЕХ-1 (экспортную декларацию), AWB и другие документы. Также мы можем дополнительно застраховать Ваш груз от конкретного случая или от всех рисков (минимальные тарифы страхования, предоставляемые страховыми компаниями для нас, будут доступны и вам).
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/3/icon-1.svg", width='60' height='60')
							b Организация авиагрузоперевозки
							p.text Для клиентов мы разрабатываем маршрут движения, подбираем транспорт, осуществляем перевалку грузов. Взвешиванием, маркируем и  упаковываем груз. Контролируем загрузку и разгрузку.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/3/icon-2.svg", width='60' height='60')
							b Агенты-партнеры в крупных аэропортах
							p.text Сотрудничаем с ведущими мировыми авиалиниями: Аэрофлот, Belavia, LOT, Turkish Airlines, American Airlines Group, China Southern Airlines, Delta Air Lines, Deutsche Lufthansa, Emirates, International Airlines Group, Southwest Airlines, United Continental Holdings.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/3/icon-3.svg", width='60' height='60')
							b Направления авиаперевозок
							p.text Наши основные направления: Европа, Россия, Азия, Америка. Осуществляет экспорт и импорт грузов чартерными, а также регулярными рейсами с использованием различных типов самолетов: ИЛ-76, АН-124, ТУ-204, АН-12, АН-72, АН-26, Boeing 747, Airbus и т.д. 
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/3/icon-4.svg", width='60' height='60')
							b Доставляем "от двери до двери"
							p.text Мы осуществляем наложенные этапы авиа грузоперевозок: экспедирование в аэропорт отправления, складские услуги (взвешивание, маркировка, упаковка), оформление документов (страхование, таможенных), осуществляем перевозки как грузовымм, так и пассажирскими самолетами, организовываем растаможку в аэропорту прибытия, доставляем груз на склад получателю.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Lorem ipsum dolor sit amet. dolor sit amet
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link(href='#')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link(href='#')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+b.SECTION.cargo-types
				+e.inner.center
					+e.H2.title.heading._h2 виды перевозимых грузов
					+e.UL.list
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
						+e.LI.item
							+svg('plane',90,60)
							p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ab.
			+b.SECTION.about-specialist._3
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Мария Сырокваш
						b специализируется на авиаперевозках
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='#') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
