include ../../full-viewport-width/full-viewport-width
include ../../map-large/map-large
include ../../reviews/reviews
include ../../clients/clients
include ../../map/map
include ../../solutions/solutions
include ../../additional-services/additional-services
include ../../video/video
include ../../request-form/request-form
mixin main()
	+b.MAIN.page-content
		+video({
			bgPath: '__static__general/bg_main.png',
			videoPath: '__static__/img/general/video/strahovanie.mp4'
		})
		+e.inner
			+full-viewport-width(services.insurance)
			.content
				p.text.center Нашим надежным партнеров в области страхования является страховая компания ЗАО «СК «Белросстрах» – один лидеров на белорусском рынке по страхованию имущества юридических лиц и страхованию грузов.
				p.text.center Страхование грузов предназначено для лиц, имеющих интерес в сохранении грузов, перевозимых различными видами транспорта, и позволяет компенсировать убытки, связанные с повреждением или утратой груза, независимо от наличия или отсутствия вины перевозчика.
				p.text.center Предоставляемые нами под погрузку транспортные средства имеют страхование гражданской ответственности перевозчика (CMR-страхование). Компания ООО «ТВ Логистик» имеет полис страхования ответственности экспедитора.  Также мы можем по вашему запросу дополнительно организовать  страхование грузов: "С ответственностью за все риски", "С ответственностью за частную аварию", "Без ответственности за повреждения, кроме случаев крушения" и другие виды страхования грузов.
			+b.SECTION.service-advantages
				+e.inner.center
					+e.H2.title.heading._h2 Преимущества сервиса
					+e.UL.list
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/11/icon-1.svg", width='60' height='60')
							b Минимальные тарифы
							p.text Наши Клиенты получают выгодные ставки по страхованию, позволяющие снизить расходы на страхование до минимума. При этом качество страхования остается высоким.
						+e.LI.item
							+e.IMG.icon(src="__static__img/content/services/11/icon-2.svg", width='60' height='60')
							b Наши сотрудники
							p.text Штат компании состоит из опытных высококвалифицированных специалистов,  которые на этапе планирования перевозки, при необходимости или по Вашему запросу подскажут и проконсультируют о преимуществах дополнительного страхования по различным видам грузов.
			+b.SECTION.progress
				+e.inner.center
					+e.H2.title.heading._h2 Ход выполнения
					+e.UL.list
						+e.LI.item
							img(src='__static__img/content/progress-icons/order.gif')
							b Заполнение
								br
								| заявки
						+e.LI.item
							img(src='__static__img/content/progress-icons/registration.gif')
							b Подписание необходимых документов
						+e.LI.item
							img(src='__static__img/content/progress-icons/cargo_sending.gif')
							b Отправка груза в необходимую точку мира
						+e.LI.item
							img(src='__static__img/content/progress-icons/delivery.gif')
							b Доставка "до двери"
								br
								| клиента
			+b.SECTION.directions-list
				+e.inner.center
					+e.H2.title.heading._h1 наши направления
					+b.direction-list
						+e.A.link.waves-effect.waves-light.style(href='russian-direction.html')
							span Россия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link.waves-effect.waves-light.style(href='asian-direction.html')
							span Азия
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из Азии в Беларусь и в Беларусь из&nbsp;Азии
						+e.A.link.waves-effect.waves-light.style(href='european-direction.html')
							span Европа
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
						+e.A.link.waves-effect.waves-light.style(href='american-direction.html')
							span Америка
							p Грузоперевозки сборных и комплектных грузов, экспорт и иморт из России в Беларусь и в Беларусь из&nbsp;России
			+map-large
			+solutions(solutions)
			+b.SECTION.about-specialist._11
				+e.inner.center
					+e.info
						+e.H2.title.heading._h1 Ирина Давидович
						b специализируется на страховании грузов
						p.text.text_white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae debitis reiciendis maxime consequuntur incidunt praesentium, earum. Unde dignissimos ad omnis, ipsum ab voluptatum deserunt distinctio, inventore aperiam perferendis enim?
						+e.A.link.btn._large(href='/contacts.html') получить
							br
							| консультацию
			+reviews
			+clients
			+additional-services
			+map({modifier: 'right'})
			+request-form
