mixin main-navigation(data)
	+b.NAV.navigation
		+e.A.item(href='#') Главная
		+e.A.item(href='#') Направления
		+e.A.item(href='#') Услуги
		+e.A.item(href='#') О нас
		+e.A.item(href='#') Вакансии
		+e.A.item(href='#') Онлайн-сервисы
		+e.A.item(href='contacts.html') Контакты
