mixin main-navigation(data)
	+b.NAV.navigation
		+e.A.item(href='index.html') Главная
		+e.A.item(href='direction.html') Направления
		+e.A.item(href='services.html') Услуги
		+e.A.item(href='about-us.html') О нас
		+e.A.item(href='#') Вакансии
		+e.A.item(href='#') Онлайн-сервисы
		+e.A.item(href='contacts.html') Контакты
