.solutions
	background-color $c_white
	&__list
		row-flex()
	&__item
		col()
		size(3)
		size-xxs(12)
		margin-bottom 70px
		text-align center
		xxs-block({
			display: flex
			justify-content: center
			margin-bottom: 25px
		})
		span
			display block
			width 170px
			margin 0 auto
			color $c_text
			font-size 14px
			font-weight 300
			line-height 21px
	&__icon
		margin-bottom 35px
		xxs(margin-bottom, 0)
